<nav class="navbar navbar-expand-lg navbar-dark-bg-transparent">
  <div class="container">
    <%= link_to "Victor Barbosa", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Victor Barbosa</h5>
        <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item mx-2">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to "Blog", posts_path(category: 'blog'), class: "nav-link" %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to "Portfolio", posts_path(category: 'portfolio'), class: "nav-link" %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to "Contact", contact_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", user_path(current_user), class: "dropdown-item" %></li>
                <li> <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item mx-2">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
