<!-- app/views/posts/show.html.erb -->
<div class="container" data-controller="post">
  <div data-post-target="display">
    <h1><%= @post.title %></h1>
    <div class="post-head-info">
      <p><i class="fa-solid fa-calendar"></i> <%= @post.created_at.strftime("%B %d, %Y") %>  </p>
      <p><i class="fas fa-link"></i> <%= link_to @post.link, @post.link %></p>
    </div>
    <% if @post.video_url.present? %>
      <div class="video-container">
        <iframe src="<%= @post.video_url %>" frameborder="0" allowfullscreen></iframe>
      </div>
    <% end %>

    <%# <% @post.photos.each do |photo| %>
      <%# <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <%# <% end %>
    <%= @post.content.body %>

    <% if policy(@post).edit? %>
      <%= link_to 'Edit', '#', data: { action: 'click->post#edit' } %>
    <% end %>

    <% if policy(@post).destroy? %>
      <%= link_to 'Delete', @post, data:{turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </div>

  <div data-post-target="form" style="display: none;">
    <%= simple_form_for(@post, remote: true) do |f| %>
      <%= f.input :title, label: 'Title' %>
      <%= f.rich_text_area :content %>
      <%= f.input :link, label: 'Link' %>
      <%= f.input :video_url %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.association :post_category, label: 'Post Category', collection: PostCategory.all, prompt: 'Select a Category' %>
      <%= f.button :submit, 'Update Post', class:"btn btn-primary" %>
    <% end %>
  </div>

  <div class="container" data-controller="comments">
    <button data-action="click->comments#toggle" class="btn btn-primary mt-3">Responses</button>

    <div data-comments-target="section" style="display: none;">
      <h3>Comments</h3>

      <%= simple_form_for([@post, Comment.new]) do |f| %>
        <div class="form-group">
          <%= f.input :content, label: 'New Comment', input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group text-right">
          <%= f.button :submit, 'Create Comment', class:"btn btn-primary" %>
        </div>
      <% end %>

      <% @post.comments.each do |comment| %>
        <div class="comment" data-controller="comment">
          <div data-comment-target="display" id="comment-<%= comment.id %>">
            <div class="user-info">
              <div class="user-name"><%= comment.user.email %></div>
              <div class="comment-content"><%= comment.content %></div>
              <div class="comment-date"><%= comment.created_at.strftime("%B %d, %Y") %></div>
            </div>

            <% if policy(comment).edit? %>
              <%= link_to 'Edit', '#', data: { action: 'click->comment#edit' } %>
            <% end %>

            <% if policy(comment).destroy? %>
              <%= link_to 'Delete', post_comment_path(@post, comment), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            <% end %>
          </div>

          <div data-comment-target="form" style="display: none;">
            <%= simple_form_for([@post, comment], remote: true) do |f| %>
              <%= f.input :content, label: 'Edit Comment' %>
              <%= f.button :submit, 'Update Comment' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
