<div class="container">
  <h1><%= @tag.name %></h1>

  <div class="posts">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="post-content">
          <div class="post-info">
            <h3><%= link_to post.title, post_path(post) %></h3>
            <p><%= post.content.body.to_plain_text.truncate(250) if post.content.body.present? %></p>
            <p><%= link_to 'Read more', post_path(post) %></p>
          </div>
          <div class="post-image">
              <% post.photos.each do |photo| %>
                <% if photo.present? %>
                  <%= cl_image_tag photo.key, height: 134, width: 200, crop: :fill %>
                <% end %>
              <% end %>
          </div>
        </div>
            <% post.tags.each do |tag| %>
              <%= link_to tag.name, tag_path(tag.name), class:"btn btn-info" %>
            <% end %>
      </div>
    <% end %>
  </div>
</div>
